<p>Tabela!</p>

<div>
    <table class="text-danger table table-bordered table-striped text-center">
        <thead>
            <th>Nome</th>
            <th>Idade</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Alex
                </td>
                <td>
                    24 anos
                </td>
            </tr>
            <tr>
                <td>
                    Oliota
                </td>
                <td>
                    33 anos
                </td>
            </tr>
            <tr>
                <td>
                    Nelma
                </td>
                <td>
                    52 anos
                </td>
            </tr>
        </tbody>
    </table>
</div>